@import "./reset.css";
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
}
* {
  box-sizing: border-box;
}
header {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* 보통 상단 탭은 60px을 줌*/
  height: 60px;
  padding: 0 40px;
  /* 상단 고정 css */
  position: fixed;
  z-index: 10;
}

header .logo-image {
  width: 130px;
}

header .nav-list {
  display: flex;
  gap: 30px;
}

.nav-list a {
  color: black;
  text-decoration: none;
}

footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}

main section {
  padding: 100px 100px 60px;
}

#home {
  background-color: greenyellow;
  display: flex;
  align-items: center;
  font-size: 6rem;
  position: relative;
}

#home h2 strong {
  font-size: 7.2rem;
  font-weight: 700;
  word-break: keep-all;
}

#home .licat-img {
  width: 500px;
  object-fit: contain;
}

#home .downlink {
  /* absolute를 주면 부모요소를 기준으로 움직임. */
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.downlink img {
  width: 60px;
}

.section-title {
  font-size: 56px;
  color: #ff3440;
  font-weight: 800;
  font-family: "SUITE-Regular";
  margin-bottom: 50px;
}

#about {
  font-size: 2rem;
}

#about p {
  margin-bottom: 30px;
}

#about .small {
  font-size: 1.5rem;
}

#activity .text-list {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 24px;
}

.text-list li {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-list li strong {
  font-weight: 900;
  color: blue;
}

.img-list {
  display: flex;
  overflow: auto;
  padding: 10px;
  gap: 32px;
}
.img-list img {
  width: 530px;
  border-radius: 30px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.content-box {
  margin: auto;
  padding: 40px;
  background-color: skyblue;
  border-radius: 15px;
}

.contact-title {
  font-size: 40px;
  margin-bottom: 10px;
}

.contact-cont {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
  margin-top: 30px;
}

.contact-cont > div {
  background-color: blueviolet;
  border-radius: 5px;
  width: fit-content;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-cont a {
  color: white;
  text-decoration: none;
}

/* 미디어 쿼리 안에는 변경해줄 css만 정해주면 됨 */

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }

  main section {
    padding-top: 100px;
  }
  #home {
    flex-direction: column;
    height: fit-content;
  }

  #home .licat-img {
  }

  .contact-cont {
    flex-direction: column;
    align-items: end;
    width: fit-content;
  }

  .contact-cont > div {
    width: 100%;
  }
}
