@import "./reset.css";

* {
  margin: 10px;
}

div {
  margin: 10px;
  border: 3px solid black;
  width: 200px;
  height: 120px;
  text-align: center;
  border-radius: 15px;
  box-sizing: auto;
  box-shadow: 6px 6px 5px 3px rgba(108, 108, 108, 0.06);
}

.job {
  font-size: 1.2rem;
  font-weight: bolder;
  color: dodgerblue;
}

.name {
  font-size: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  flex-wrap: wrap;
}

p {
  word-break: keep-all;
  white-space: nowrap;
}
